---
layout: default
---


<h1 id="introducci">Introducció</h1>

<p>Benvinguts i benvingudes a la <a href="https://docs.gitlab.com/ee/user/project/wiki/">wiki</a> de Rangers, Noies Guia i Atkrois del sector 2. En aquesta <a href="https://docs.gitlab.com/ee/user/project/wiki/">wiki</a> trobareu el que hem anat fent durant les <code>taules</code>, un calendari amb <code>dates</code> assenyalades, <code>recursos</code> i demés temes d'interés. <em>L'objectiu</em> principal d'aquest espai és facilitar la consulta del recull de material que hem anat generant al llarg del curs. </p>

<p>Intentaré seguir una estructura coherent i procuraré que les <a href="necessitats-i-objectius#necessitats-ringsatkrois">necessitats de les branques</a> i el <a href="necessitats-i-objectius#projecte-de-sector-objectius-equip-de-branques">projecte del sector</a> estiguin sempre ben presents.</p>

<p>Espero que trobeu l'eina útil i siusplau no dubteu en contactar amb el vostre adjunt si trobeu alguna errada o creieu que alguna cosa es podria millorar.</p>

<p>Sempre a punt!</p>

<h2 id="taules">Taules</h2>

<p>En aquest apartat podeu consultar amb detall el que es treballa i parla a les reunions que anem fent. Per accedir als continguts feu <code>click</code> a l'enllaç que trobareu a la columna <strong>Link</strong>.</p>

<p>| <strong>Taula</strong> | <strong>Format</strong> | <strong>Data/Hora</strong> | <strong>Lloc</strong> | <strong>Link</strong> |
| ------ | ------ | ------ | ------ | ------ |
| Taula 1 | Convencional | 23-01-19/21h  <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NGFtZmRrMDUwM3M3MnVsMHJlMmNkYmQ5NmQgYnJhbnF1ZXMuc2VjdG9yMkBt&amp;tmsrc=branques.sector2%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_es.gif"></a>| <a href="https://www.google.com/maps/place/Torre+de+La+Sagrera/@41.4237739,2.1897071,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4bcd2ff0717cd:0x2d3d63d022d86dd9!8m2!3d41.4237739!4d2.1918958">Torre de la Sagrera</a> | <a href="Taula-1">Taula 1</a> |
| Taula 2 | cell | cell | cell | cell |</p>

<h2 id="calendari">Calendari</h2>


<!--
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
-->